#Assignment Day 3 | 10th December 2020

#Question 1
Use IF ELSE and ELIF to write a program in python for your Report Cards.

In [9]:
#Student report card
print('Student report card')
print('=======================================')
stud_name=input('Please enter Name :')
stud_USN=input('Pleae enter USN :')
python_marks=int(input('Please enter python marks :'))
java_marks=int(input('Please enter java marks :'))
dataScience_marks=int(input('Please enter dataScience marks :'))
#Student totals and percentage
stud_total_marks = java_marks + dataScience_marks + python_marks
stud_percentage = round(stud_total_marks/300 * 100,2)
#Print student Report card
print('=======================================')
print(f'python       : {python_marks}')
print(f'java         : {java_marks}')
print(f'dataScience  : {dataScience_marks}')
print(f'Total        : {stud_total_marks}')
print(f'Percentage   : {stud_percentage}%')
print('=======================================')
#Student marks classification
if(stud_percentage>=75): 
  print('Distinction')
elif stud_percentage >=60 and  stud_percentage< 75:
  print('First Class')
elif (stud_percentage>35 and stud_percentage<60):
  print('Second class')
else:
  print('Fail')
print('=======================================')

Student report card
=======================================
Please enter Name :vighnesh
Pleae enter USN :2ji12cs676
Please enter python marks :78
Please enter java marks :90
Please enter dataScience marks :88
=======================================
python       : 78
java         : 90
dataScience  : 88
Total        : 256
Percentage   : 85.33%
=======================================
Distinction
=======================================

#Question 2
Use For Loop to Print Prime Numbers in between 1 to 1000

In [25]:
  
for num in range(1,1000 + 1):  
   if num > 1:  
       for i in range(2,num):  
           if (num % i) == 0:  
               break  
       else:  
           print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

#Question 3
Write a program for printing the tables from 1,10 using Nested For Loop

In [40]:
for i in range(1, 11):
    print(" i =", i  , ": ", end = "  ")
    for j in range(1, 11):
        print("{:5d}".format(i * j), end=" ")
    print()

 i = 1 :       1     2     3     4     5     6     7     8     9    10
 i = 2 :       2     4     6     8    10    12    14    16    18    20
 i = 3 :       3     6     9    12    15    18    21    24    27    30
 i = 4 :       4     8    12    16    20    24    28    32    36    40
 i = 5 :       5    10    15    20    25    30    35    40    45    50
 i = 6 :       6    12    18    24    30    36    42    48    54    60
 i = 7 :       7    14    21    28    35    42    49    56    63    70
 i = 8 :       8    16    24    32    40    48    56    64    72    80
 i = 9 :       9    18    27    36    45    54    63    72    81    90
 i = 10 :      10    20    30    40    50    60    70    80    90   100

#Question 4
Write a program to Print X Prime Numbers using While Loop starting from 0, and take the INput of X from
the user

In [76]:
prime=2
counter = 0
x = int(input("Enter the number:\n"))
while (counter < x):
    if all(prime%j!=0 for j in range(2, prime)):
        print(prime, "is a prime number")
        counter+=1


    prime+=1

Enter the number:
5
2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number